@import url("https://fonts.googleapis.com/css2?family=Sekuya&display=swap");
:root {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  color: #ffffff;
  background: #20242b;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #20242b;
}

button,
input {
  font: inherit;
}

button {
  cursor: pointer;
}